@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1,
.h1 {
  font-size: 46px; }

h2,
.h2 {
  font-size: 38px; }

h3,
.h3 {
  font-size: 22px; }

b, strong {
  font-weight: 600; }

ul + * {
  margin-top: 30px; }

ul li {
  margin-left: 24px; }
  ul li + li {
    margin-top: 12px; }

ul li:before {
  content: '✔';
  margin-left: -20px;
  color: orange;
  position: absolute; }

p + p {
  margin-top: 16px; }

p + ul {
  margin-top: 28px; }

.osp-hero {
  background: url(../img/min/header_bg2.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative; }
  .osp-hero:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background: rgba(0, 0, 0, 0.24); }
  .osp-hero-inner {
    z-index: 1;
    text-align: center; }
  .osp-hero__text {
    color: white;
    line-height: 1.4; }
    .osp-hero__text--big {
      font-size: 92px; }
    .osp-hero__text--md {
      font-size: 64px; }
    .osp-hero__text--sm {
      font-size: 46px; }
  .osp-hero .btn {
    margin-top: 32px; }

.osp-page-block {
  padding: 90px 0; }
  .osp-page-block--about {
    background: url(../img/min/about_laptop.png) no-repeat 90% right/50vw; }
  .osp-page-block--portfolio {
    background-color: #efefef; }

.osp-about__inner {
  max-width: 600px; }

body {
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -moz-font-feature-settings: "kern";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2; }

* {
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }

.btn {
  font-family: inherit;
  font-size: 16px;
  padding: 14px 20px;
  cursor: pointer;
  overflow: visible;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0px solid transparent;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  border-radius: .2rem;
  color: #fff;
  transition: all .195s ease-in-out;
  text-transform: uppercase; }
  .btn--primary {
    background: orange; }

.osp-title {
  color: orange;
  border-left: 4px solid orange;
  display: inline-block;
  text-indent: 16px;
  font-weight: 600; }
  .osp-title + * {
    margin-top: 32px; }

img {
  display: inline-block;
  max-width: 100%; }

.slick-next:before, .slick-prev:before {
  color: orange; }

.slick-slide {
  padding: 0px 5px; }
